.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 50px;
}

.img-container img {
    width: 70%;
    margin: 20px 40px;
    padding-left: 20px 40px;
}

.info-container {
    border: 1px solid cadetblue;
    background-color: azure;
    padding: 5px;
    margin: 20px 40px;
}

.info-container span {
    color: rgb(226, 136, 180);
}

.review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-top: 20px;
    padding-left: 20px;
}